#Heroes Of Pymoli Data Analysis 

OBSERVED TREND 1:
Gender Demographics: 81.15% of players are male as compared to female and other users. We can improve the interface so as to provide user experience which is appealing to all the genders.

OBSERVED TREND 2:
Age Demographics: Players from 20-24 ages are the top users.There is a huge transition in number for players from 25-29. We can look at improving the stages in the game in order to attract players from the age group 25-29. It will need some research to understand the trend about other popular games to include improvements.

OBSERVED TREND 3:
Purchasing Analysis: Highest total purchase value is achieved by male users with $1867.68 revenue. The game can be improved in a way to increase the number of female and other users by including new features or improving the existing ones.

In [42]:
# Import the Pandas library
import pandas as pd

In [43]:
# load json file
json_path = "../Week 04- Panda-Numpy Homework/purchase_data.json"
df = pd.read_json(json_path)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [44]:
#Calculate Total Number of Players
player_count = df['SN'].count()
player_count
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            780

#CalculatePurchasing Analysis (Total)

In [45]:
#Calculate Number of Unique Items
unique_items = len(df['Item ID'].unique())                    
unique_items
pd.DataFrame([unique_items], columns = ["Unique Items"])

   Unique Items
0           183

In [46]:
#Calculate Average Purchase Price
avg_pur_price = df['Price'].mean()
print(f" Average Purchase price: {round(avg_pur_price)}")
pd.DataFrame([avg_pur_price], columns = ["Average Purchase price"])

 Average Purchase price: 3

   Average Purchase price
0                2.931192

In [47]:
#Calculate Total Number of Purchases
total_purchases = df['Item Name'].count()
pd.DataFrame([total_purchases], columns = ["Total Purchases"])

   Total Purchases
0              780

In [48]:
#Calculate Total Revenue
total_revenue = df['Price'].sum()
pd.DataFrame([total_revenue], columns = ["Total Revenue"])

   Total Revenue
0        2286.33

In [49]:
#Gender Demographics
#Percentage and Count of Male Players
total_gender = df["Gender"].count()
male = df["Gender"].value_counts()['Male']
male #Calculating count of male players
male_percent = male/total_gender * 100

#Percentage and Count of Female Players
female = df["Gender"].value_counts()['Female']
female #Calculating count of female players
female_percent = female/total_gender * 100

#Percentage and Count of Other / Non-Disclosed

other = df["Gender"].value_counts()['Other / Non-Disclosed']
other
other_percent = other/total_gender * 100

gender_demographics = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [male_percent, female_percent, other_percent],
                                        "Total Count": [male, female, other]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])

#printing data                                        
gender_demographics_df = gender_demographics.set_index("Gender")
gender_demographics_df.style.format({"Percentage of Players": "{:.2f}%"})

In [50]:
#Purchasing Analysis (Gender)

#The below each broken by gender

#Purchase Count
gender_groups = df.groupby(['Gender'])
purchase_count = gender_groups.count()["Price"]

#Average Purchase Count
avg_pur_count = gender_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = gender_groups.sum()["Price"]

#Normalized Totals
norm_total = total_pur_value/purchase_count

pur_analysis = pd.DataFrame({
    
    "Purchase Count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase value': total_pur_value,
    'Normalised totals': norm_total
})

#printing data
#printing data
pur_analysis.style.format({"Purchase Count": "{:.2f}", "Average Purchase Price": "${:.2f}", "Total Purchase Value":"${:.2f}", "Normalised Totals":"${:.2f}"})

In [51]:
#Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Create the names for the bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_df = pd.DataFrame(df)

# Cut age and place the scores into bins
age_df["Age Range"] = pd.cut(age_df["Age"], 8, labels=group_names)
               
age_groups = df.groupby(['Age Range'])

#Purchase Count
purchase_count = age_groups.count()["Price"]

#Average Purchase Price
avg_pur_count = age_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = age_groups.sum()["Price"]

#Normalized Totals
norm_total = total_pur_value/purchase_count

pur_analysis = pd.DataFrame({
    
    "Purchase count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase value': total_pur_value,
    'Normalised Totals': norm_total
})

#printing data
pur_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value":"${:.2f}", "Normalised Totals":"${:.2f}"})

In [52]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
SN_groups = df.groupby(['SN'])

#Purchase Count
purchase_count = SN_groups.count()["Price"]

#Average Purchase Price
avg_pur_count = SN_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = SN_groups.sum()["Price"]

pur_analysis = pd.DataFrame({
    
    "Purchase Count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase Value': total_pur_value,
})

#Sort in descending order to get top 5 spenders
pur_analysis_sorted = pur_analysis.sort_values('Total Purchase Value', ascending=False).head()
pur_analysis_sorted.style.format({"Average Purchase Price": "${:.2f}","Purchase Count": "${:.2f}", "Total Purchase Value": "${:.2f}"})
pur_analysis_sorted.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [55]:
#Most Popular Items

#Merge dataframes to find purchase count, total purchase value for items
#Reset indices to dataframes can be merged on specific elements
merge1 = df.groupby("Item Name").sum().reset_index()
merge2 = df.groupby("Item ID").sum().reset_index()
merge3 = df.groupby("Item Name").count().reset_index()

#merge dataframes
merge_df1 = pd.merge(merge1, merge2, on="Price")
merge_df2 = pd.merge(merge3, merge_df1, on="Item Name")

#start to create final dataframe by manipulating data
merge_df2["Gender"] = (merge_df2["Price_y"]/merge_df2["Item ID"]).round(2)

merge_df2_renamed = merge_df2.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#Including columns needed for the dataframe
clean_df = merge_df2_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

df2 = clean_df.set_index(['Item ID','Item Name'])
popular_items = df2.sort_values('Purchase Count', ascending=False).head()
popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [56]:
#Most Profitable items
profit_items = df2.sort_values('Total Purchase Value', ascending=False).head()
profit_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})