In [9]:
# Import the Pandas library
import pandas as pd

In [10]:
# load CSV
json_path = "../Week 04 - Panda-Numpy Homework/purchase_data.json"

In [27]:
df = pd.read_json(json_path)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [18]:
#Calculate Total Number of Players
player_count = df['Age'].count()
player_count

780

#CalculatePurchasing Analysis (Total)

In [25]:
#Calculate Number of Unique Items
unique_items = df['Item Name'].value_counts()
unique_items.head()

Final Critic                            14
Arcane Gem                              11
Betrayal, Whisper of Grieving Widows    11
Stormcaller                             10
Woeful Adamantite Claymore               9
Name: Item Name, dtype: int64

In [35]:
#Calculate Average Purchase Price
avg_pur_price = df['Price'].mean()
avg_pur_price

2.931192307692303

In [39]:
#Calculate Total Number of Purchases
total_purchases = df['Item Name'].count()
total_purchases

780

In [40]:
#Calculate Total Revenue
total_reveue = df['Price'].sum()
total_reveue

2286.3299999999963

In [43]:
#Gender Demographics
#Percentage and Count of Male Players
total_gender = df["Gender"].count()
male = df["Gender"].value_counts()['Male']
male #Calculating count of male players

633