## Creating a Python script to visualize the weather of 500+ cities across the world of varying distance from the equator and documenting the analysis based off data.

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
import seaborn as sb
import numpy as np
import csv
from citipy import citipy

In [2]:
# Save config information.

api_key = "c7f9f57b4779391ea1f5ae067591c971"
url = "http://api.openweathermap.org/data/2.5/weather?units=metric&APPID=" + api_key

In [3]:
cities = []
city_weather_data =[]
lats = np.random.randint(low=-90, high=90, size=5)
lons = np.random.randint(low=-180, high=180, size=5)
for lat, lon in zip(lats, lons):
    city = citipy.nearest_city(lat, lon)
    #print(city.city_name)
    
    city_weather_request_url = url + "&q=" + city.city_name
    print(city_weather_request_url)
    response = requests.get(city_weather_request_url)
    if response.status_code != 404:
        city_weather_data.append(response.json())

http://api.openweathermap.org/data/2.5/weather?units=metric&APPID=c7f9f57b4779391ea1f5ae067591c971&q=colares
http://api.openweathermap.org/data/2.5/weather?units=metric&APPID=c7f9f57b4779391ea1f5ae067591c971&q=rikitea
http://api.openweathermap.org/data/2.5/weather?units=metric&APPID=c7f9f57b4779391ea1f5ae067591c971&q=haines junction
http://api.openweathermap.org/data/2.5/weather?units=metric&APPID=c7f9f57b4779391ea1f5ae067591c971&q=busselton
http://api.openweathermap.org/data/2.5/weather?units=metric&APPID=c7f9f57b4779391ea1f5ae067591c971&q=arraial do cabo

In [4]:
city_weather_data[0]

{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 38.8, 'lon': -9.45},
 'dt': 1519932600,
 'id': 2269142,
 'main': {'humidity': 71,
  'pressure': 998,
  'temp': 12.16,
  'temp_max': 13,
  'temp_min': 11},
 'name': 'Colares',
 'sys': {'country': 'PT',
  'id': 5961,
  'message': 0.0105,
  'sunrise': 1519888150,
  'sunset': 1519929079,
  'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
   'icon': '02n',
   'id': 801,
   'main': 'Clouds'}],
 'wind': {'deg': 250, 'speed': 4.1}}

In [5]:
extracted_data = []
for city_weather in city_weather_data:
    lat_data = city_weather.get("coord").get("lat")
    temp_data = city_weather.get("main").get("temp")
    extract = {"temp": temp_data, "lat": lat_data, 'name': city_weather.get('name')}
    extracted_data.append(extract)

df = pd.DataFrame(extracted_data)
df

     lat             name   temp
0  38.80          Colares  12.16
1 -23.12          Rikitea  27.40
2  60.75  Haines Junction -20.15
3 -33.64        Busselton  16.30
4 -22.97  Arraial do Cabo  29.48